.article-item-container {
    height: 250px;
    width: 350px;
    margin: 1.5em; 
    display: inline-block;
    border: solid 1px grey;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: black;
}


.article-item-excerpt {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
}